body {
    
}
.flex-container {
    display: flex;
  }
.flex-row{
    flex-direction: row;
}
.flex-column{
    flex-direction: column;
}
.red-bckground-color{
    background-color: red;
}
.red2-background-color{
    background-color: #BC3428;
}
.blue-bckground-color{
    background-color: blue;
}
.grid-mode{
    display: grid;
}
header{
    display: grid;
    grid-template-columns: auto auto auto;
}
nav{
  
}
nav ul{
    display: grid;
    grid-template-columns: repeat(9,1fr);
    margin-left: 20px;
    text-decoration: none;
}
nav ul li{
    padding-right: 10px;
    text-decoration: none;
}
.logo{
    flex-basis: 210px;
    align-self: center;
}
.logo img{
    width: 208px;
    height: 76px;
}