body {
    font-size: 1.125em;
}
h2{
    font-family: MijaW03-Regular;
}
/*
.mr-top-100 {
    margin-top: 100px;
}
*/
.flex-container {
    display: flex;
    width: 100%;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.red-bckground-color {
    background-color: red;
}

.red2-background-color {
    background-color: #BC3428;
}

.blue-bckground-color {
    background-color: blue;
}

.grid-mode {
    display: grid;
}

header {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
}

nav {}

nav ul {
    display: flex;
    margin-left: 20px;
    text-decoration: none;
    width: 100%;
}

nav ul li {
    padding-right: 10px;
    list-style: none;
    font-family: Mija;
}

nav ul li a {
    text-decoration: none;
}

.main-nav-more-item__button {
    padding: .35em .5rem .35em 1rem;
    border: 1px solid rgba(0,0,0,.05);
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: space-around;
    line-height: 1;
    background-color: rgba(0,0,0,.2);
    border-radius: 11px;
    box-shadow: 0 13px 27px -15px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
    position: relative;
}
.menu-text--lg
{
    display: none;
}
.logo {
    flex-basis: 210px;
    align-self: center;
}

.logo img {
    width: 208px;
    height: 76px;
}

.main-part {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid blue;
}

.text {
    padding-left: 5rem;
    align-self: center;
    margin-top: 15rem;
}

.meow {
    
    text-decoration: none;
}

.auther{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    text-decoration: none;
    padding-left: 20px;
}
.wrote {
    padding-left: 0.5rem;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-decoration: none;
}

.main-sec-text {
    text-decoration: none;
    margin-left: -20rem;
    margin-top: 5rem;
    font-size: 2.5rem;
    max-width: 60%;
}

article {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.bio-image-image {
    position: relative;
    width: 100%;
    object-fit: cover;
    display: block;
    height: 50px;
    width: 50px;
    /*    margin-top: 20%;*/
    /*    padding-left: 5%;*/
    transform: scale(1.2) rotateZ(-30deg);
}

.bio-image-image:hover {
    transform: scale(1.2) rotateZ(0deg);
    transition: transform 0.2s ease-out;
}
.latest_post{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.smashing-member{
    grid-column-start: 1;
    grid-column-end: 3;
}
.smashing-tv{
    grid-column-start: 3;
    grid-column-end: 5;
}