body {
    
}
.flex-container {
    display: flex;
  }
.flex-row{
    flex-direction: row;
}
.flex-column{
    flex-direction: column;
}
.red-bckground-color{
    background-color: red;
}
.red2-background-color{
    background-color: #BC3428;
}
.blue-bckground-color{
    background-color: blue;
}
.grid-mode{
    display: grid;
}
header{
    
}
.logo{
    flex-basis: 210px;
    align-self: center;
}
.logo img{
    width: 208px;
    height: 76px;
}